.blog-container {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
}
.blog-banner img {
  height: 43.75rem;
  width: 100%;
}
.blog-content {
  padding: 3.125rem 20%;
}
.irvfiles,
.blog-time {
  text-align: center;
  font-family: Babydoll, sans-serif;
  font-size: 1.5rem;
}
.blog-title {
  font-family: Jacques, sans-serif;
  font-size: 5rem;
  text-align: center;
  padding: 1.875rem 0;
}
.blog-content .text {
  font-size: 1.125rem;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.5;
  padding: 1.875rem 0;
}
.blog-content img {
  width: 100%;
}
.blog-container .button {
  background: transparent url(../../images/Rectangle-5.svg) center / 100%
    no-repeat;
  height: 4.375rem;
  width: 15.625rem;
  font-family: Helvetica, serif;
  font-weight: bold;
  font-size: 1.25rem;
  transition: 0.2s;
  border: none;
  outline: none;
  position: relative;
  margin-left: 15.625rem;
  cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;
}
.blog-container .button-text {
  position: absolute;
  left: 0.9375rem;
  top: 1.25rem;
}
.blog-container .button:hover {
  background-image: url(../../images/Rectangle-5-black.svg);
}
.blog-container .button:hover .button-text {
  color: #ffd419;
}
@media screen and (max-width: 1024px) {
  .blog-container .button {
    margin-left: 30%;
  }
}
@media screen and (max-width: 768px) {
  .blog-container .button {
    margin-left: 30%;
  }
}
@media screen and (max-width: 480px) {
  .blog-content {
    padding: 3.125rem 10%;
  }
  .blog-container .button {
    margin-left: 15%;
  }
}
