.story-banner {
  margin-top: 3.75rem;
  position: relative;
}
.story-banner img {
  width: 100%;
}
.story-banner p {
  position: absolute;
  top: 6.25rem;
  left: 6.25rem;
  font-size: 5.625rem;
  width: 25rem;
  font-family: Jacques, sans-serif;
  line-height: 4.375rem;
}
.story-banner span {
  font-family: Babydoll, sans-serif;
  position: absolute;
  top: 16.25rem;
  left: 6.25rem;
  font-size: 1.5rem;
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
  .story-banner p {
    top: 3rem;
    font-size: 4rem;
    line-height: 3.5rem;
  }
  .story-banner span {
    top: 13rem;
  }
}
@media screen and (max-width: 480px) {
  .story-banner p {
  top: -1rem;
  left: 0.5rem;
  font-size: 3.75rem;
  width: 25rem;
  font-family: Jacques, sans-serif;
  line-height: 4.375rem;
}
 .story-banner span {
    top: 8.5rem;
    left: 0.5rem;
  }
}
