.checkout-container {
  padding: 3.125rem;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr;
  gap: 0.625rem;
  min-height: 100vh;
}
.checkout-heading {
  font-size: 3.125rem;
  font-weight: semi-bold;
  margin-top: 6.25rem;
}
.checkout-container label {
  display: block;
  padding: 0.625rem 0rem;
  font-size: 1.25rem;
  font-weight: 600;
}
.checkout-container input {
  width: 100%;
  padding: 0.625rem;
  border-radius: 0.375rem;
  font-size: 1.125rem;
}
.checkout-container h3 {
  font-size: 2.5rem;
  font-weight: 500;
}
.checkout-container-left {
  box-shadow: 0.1875rem 0.25rem 1rem 0rem rgba(0, 0, 0, 0.2);
  padding: 1.25rem;
  border-radius: 0.5rem;
  height: 110vh;
}
.checkout-container-left button {
  width: 100%;
  height: 3.125rem;
  margin-top: 1.875rem;
  background-color: #ffd419;
  border-radius: 0.375rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
}
.checkout-container-right {
  box-shadow: 0.1875rem 0.25rem 1rem 0rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  padding: 1.25rem;
  height: fit-content;
  min-height: 110vh;
}

.country {
  width: 100%;
  padding: 0.625rem;
  border-radius: 0.375rem;
  font-size: 1.125rem;
}
.checkout-heading {
  text-align: center;
  font-family: Jacques, sans-serif;
  font-size: 5rem;
}
.checkout-container-right button {
  width: 100%;
  height: 3.125rem;
  margin-top: 0.625rem;
  background-color: #ffd419;
  border-radius: 0.375rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
  .checkout-container {
    padding: 1rem;
    grid-template-columns: 50% 50%;
  }
}
@media screen and (max-width: 480px) {
  .checkout-container {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
  }
  .checkout-container-left {
    height: 130vh;
  }
}
@media screen and (max-width: 376px) {
  .checkout-container-left {
    height: 100vh;
  }
  .checkout-container-right {
  height: fit-content;
  min-height: 100vh;
}
}