.container {
    min-height: 100h;
    height: fit-content;
    padding: 100px 400px;
    font-family: Babydoll,sans-serif;
    font-size: 20px;
}
.heading {
    font-family: Jacques,sans-serif;
    text-align: center;
    font-size: 50px;
}
.container p {
    padding: 10px 0
}
.section {
    font-weight: bold;
}