.productDetails-top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  min-height: 40.625rem;
  height: fit-content;
}
.productDetails-top-left {
  background: url(https://cdn.shopify.com/s/files/1/0422/2441/8983/t/101/assets/texture_4_2880x.png?v=141024063350381755161642685295)
    bottom / 100% no-repeat;
  position: relative;
}
.productDetails-top-left .main-thumbs {
  position: absolute;
  height: 43.75rem;
  width: 43.75rem;
  top: 1.25rem;
  left: 2.5rem;
}

.productDetails-top-right {
  background: #fff5cc
    url(https://cdn.shopify.com/s/files/1/0422/2441/8983/t/101/assets/texture_4_2880x.png?v=141024063350381755161642685295)
    center / 100% no-repeat;
  padding: 6.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.productDetails-top-right img {
  height: 6.25rem;
}
.productDetails-reviews-number,
.productDetails-price {
  font-family: Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
}
.productDetails-title {
  font-family: Jacques, sans-serif;
  font-size: 5rem;
  line-height: 0.9;
  text-align: left;
}
.productDetails-button {
  background: url(../../images/button.svg) center / 100% no-repeat;
  height: 4.375rem;
  width: 15.625rem;
  border: none;
  outline: none;
  font-family: Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 800;
  transition: 0.3s;
  cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;
}
.productDetails-button:hover {
  transition: 0.3s;
  background: url(../../images/buttonHover.svg) center / 100% no-repeat;
  color: #fff;
}
.productDetails-disc {
  font-family: Babydoll, sans-serif;
  font-size: 1.25rem;
  /* padding: 3.125rem 0; */
}
.productDetails-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
}
.logo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Babydoll, sans-serif;
  font-size: 1.125rem;
}
.productDetails-mid {
  height: fit-content;
  min-height: 60vh;
  background: #ffd419 center / 100% no-repeat;
  padding: 6.25rem 20%;
}
.productDetails-mid button {
  outline: none;
  background-color: #ffd419;
  border: none;
}
.accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;
  padding: 1.875rem;
}
.accordion-title p {
  font-family: Jacques, sans-serif;
  font-size: 5rem;
}
.accordion-title button {
  height: 1.875rem;
  width: 1.875rem;
  outline: none;
  border: none;
  background-color: transparent;
  transition: 0.3s;
}
.accordion-button1 {
  background: url(https://cdn.shopify.com/s/files/1/0422/2441/8983/files/Accordion-Plus-Sign.svg?v=9933471651934601377)
    center / 100% no-repeat;
  height: 1.875rem;
  width: 1.875rem;
  transition: 0.3s;

  transform: rotate(0deg);
}
.accordion-button2 {
  background: url(https://cdn.shopify.com/s/files/1/0422/2441/8983/files/Accordion-Plus-Sign.svg?v=9933471651934601377)
    center / 100% no-repeat;
  height: 1.875rem;
  width: 1.875rem;

  transition: 0.3s;

  transform: rotate(50deg);
}

.accordion-ingredients {
  font-family: Babydoll, sans-serif;
  line-height: 1.2;
  font-size: 1.25rem;
  font-weight: normal;
}
.ingredients {
  padding: 3.125rem 0rem;
}
.allergens {
  padding-bottom: 3.125rem;
}

.ingredients-title {
  margin-bottom: 0.625rem;
  font-size: 1.25rem;
  font-family: Helvetica, sans-serif;
  font-weight: 800;
}
.productDetails-bot {
  position: relative;
  min-height: 150vh;
  height: fit-content;
  background: url(//cdn.shopify.com/s/files/1/0422/2441/8983/t/101/assets/texture_5_2009x.png?v=22199937448886215501642685296)
    center / 100% no-repeat;
}

.productDetails-bot-image-1 .main-image {
  mask: url(//cdn.shopify.com/s/files/1/0422/2441/8983/files/image-mask_1024x_cb6fa004-6062-4396-8395-89bf9aa6059d_1024x.png?v=1639383019)
    center / 100% no-repeat;
  height: 34.375rem;
  position: absolute;
  z-index: 1;
  top: 12.5rem;
  left: 15.625rem;
}
.productDetails-bot-image-1 .background-image {
  height: 34.375rem;
  position: absolute;
  top: 13.75rem;
  left: 16.875rem;
}
.productDetails-bot-image-1 .character {
  height: 5.625rem;
  position: absolute;
  top: 8.125rem;
  left: 25rem;
  z-index: 2;
}
.productDetails-bot-image-1 .text-box {
  width: 15.625rem;
  height: 6.25rem;
  background-color: #ffd419;
  border-radius: 3.125rem;
  box-shadow: -0.625rem 0.625rem #000;
  position: absolute;
  top: 6.25rem;
  left: 31.25rem;
  z-index: 2;
  font-family: Babydoll, sans-serif;
  font-size: 1.125rem;
  text-align: center;
  padding-top: 1.875rem;
}
.productDetails-bot-image-2 .text-box {
  width: 15.625rem;
  height: 6.25rem;
  background-color: #ffd419;
  border-radius: 3.125rem;
  box-shadow: -0.625rem 0.625rem #000;
  position: absolute;
  top: 15.625rem;
  right: 18.75rem;
  z-index: 2;
  font-family: Babydoll, sans-serif;
  font-size: 1.125rem;
  text-align: center;
  padding-top: 1.875rem;
}
.productDetails-bot-image-2 .main-image {
  position: absolute;
  height: 21.875rem;
  mask: url(//cdn.shopify.com/s/files/1/0422/2441/8983/files/image-mask_1024x_cb6fa004-6062-4396-8395-89bf9aa6059d_1024x.png?v=1639383019)
    center / 100% no-repeat;
  z-index: 1;
  top: 21.875rem;
  right: 15.625rem;
}
.productDetails-bot-image-2 .background-image {
  position: absolute;
  height: 21.875rem;
  top: 23.125rem;
  right: 16.875rem;
}
.productDetails-bot-image-2 .character {
  height: 10rem;
  position: absolute;
  top: 18.75rem;
  right: 12.5rem;
  z-index: 1;
}

.back-to-shop-button {
  border-radius: 0.75rem;
  padding: 0.625rem;
  cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;
  transition: all 0.3s;
  width: fit-content;
}
.back-to-shop-button:hover {
  background-color: #966d51;
  color: #ffd419;
}
@media screen and (max-width: 1024px) {
  .productDetails-top-left .main-thumbs {
    position: absolute;
    height: 35rem;
    width: 35rem;
    top: 5rem;
    left: -1rem;
  }
  .productDetails-top-right {
    background: #fff5cc
      url(https://cdn.shopify.com/s/files/1/0422/2441/8983/t/101/assets/texture_4_2880x.png?v=141024063350381755161642685295)
      center / 100% no-repeat;
    padding: 6.25rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
  .productDetails-bot-image-2 .text-box {
    top: 45rem;
    right: 18.75rem;
    z-index: 2;
  }
  .productDetails-bot-image-2 .main-image {
    top: 50rem;
    right: 18rem;
  }
  .productDetails-bot-image-2 .background-image {
    top: 51rem;
    right: 19rem;
  }
  .productDetails-bot-image-2 .character {
    top: 48rem;
    right: 12.5rem;
    z-index: 1;
  }
  .ingredients {
    padding: 1rem 0rem;
  }
  .allergens {
    padding-bottom: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .productDetails-top {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    min-height: 40.625rem;
    height: fit-content;
  }
  .productDetails-top-left .main-thumbs {
    position: absolute;
    height: 40rem;
    width: 40rem;
    top: 5rem;
    left: 5rem;
  }
  .accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.875rem;
    width: 100%;
  }
  .productDetails-mid {
    padding: 6.25rem 10%;
  }

  .productDetails-bot-image-1 .main-image {
    height: 34.375rem;
    position: absolute;
    z-index: 1;
    top: 8rem;
    left: 8rem;
  }
  .productDetails-bot-image-1 .background-image {
    height: 34.375rem;
    position: absolute;
    top: 9rem;
    left: 7rem;
  }
  .productDetails-bot-image-1 .character {
    height: 5.625rem;
    position: absolute;
    top: 3rem;
    left: 10rem;
    z-index: 2;
  }
  .productDetails-bot-image-1 .text-box {
    position: absolute;
    top: 3rem;
    left: 18rem;
  }
  .productDetails-bot-image-2 .text-box {
    position: absolute;
    top: 45rem;
    right: 18.75rem;
  }
  .productDetails-bot-image-2 .main-image {
    position: absolute;
    top: 50rem;
    right: 10rem;
  }
  .productDetails-bot-image-2 .background-image {
    position: absolute;
    height: 21.875rem;
    top: 51rem;
    right: 11rem;
  }
  .productDetails-bot-image-2 .character {
    height: 10rem;
    position: absolute;
    top: 42rem;
    right: 10rem;
    z-index: 1;
  }
  .productDetails-bot {
    margin-bottom: 20rem;
  }
  .ingredients {
    padding: 1rem 0rem;
  }
  .allergens {
    padding-bottom: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .productDetails-top-left {
    height: 40rem;
  }
  .productDetails-top-left .main-thumbs {
    position: absolute;
    height: 30rem;
    width: 30rem;
    top: 5rem;
    left: -1rem;
  }
  .productDetails-top {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    min-height: 40rem;
    height: fit-content;
  }
  .productDetails-top-right img {
    height: 5rem;
  }
  .accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.875rem;
    width: 100%;
  }
  .accordion-title p {
    font-size: 3.75rem;
  }
  .productDetails-mid {
    padding: 6.25rem 10%;
  }
  .ingredients {
    padding: 1rem 0rem;
  }
  .allergens {
    padding-bottom: 1rem;
  }
  .productDetails-bot-image-1 .main-image {
    height: 25rem;
    position: absolute;
    z-index: 1;
    top: 8rem;
    left: 1rem;
  }
  .productDetails-bot-image-1 .background-image {
    height: 25rem;
    position: absolute;
    top: 9rem;
    left: 0rem;
  }
  .productDetails-bot-image-1 .character {
    height: 5.625rem;
    position: absolute;
    top: 3rem;
    left: 2rem;
    z-index: 2;
  }
  .productDetails-bot-image-1 .text-box {
    position: absolute;
    top: 3rem;
    left: 10rem;
  }
  .productDetails-bot-image-2 .text-box {
    position: absolute;
    top: 35rem;
    right: 10rem;
  }
  .productDetails-bot-image-2 .main-image {
    height: 25rem;
    position: absolute;
    z-index: 1;
    top: 40rem;
    left: 1rem;
  }
  .productDetails-bot-image-2 .background-image {
    height: 25rem;
    position: absolute;
    top: 41rem;
    left: 0rem;
  }
  .productDetails-bot-image-2 .character {
    height: 10rem;
    position: absolute;
    top: 30rem;
    right: 3rem;
    z-index: 1;
  }
  .productDetails-bot {
    margin-bottom: 20rem;
  }
}
