.footerMid-container {
  background-color: #000;
  height: 40vh;
  background: #000
    url(https://cdn.shopify.com/s/files/1/0422/2441/8983/t/101/assets/texture_7_2880x.png?v=120805904565134885351642685296)
    center / 100% no-repeat;
}
.footerMid-container--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffd419;
}
.footerMid-container--content_left {
  display: flex;
  justify-content: center;
  gap: 1.875rem;
  padding-left: 3.125rem;
  padding-top: 3.125rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.footerMid-container--content_left1 img {
  height: 3.125rem;
  cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;
}
.footerMid-container--content_left2 p {
  font-family: Helvetica, sans-serif;
  color: #ffd419;
  cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;
}
.footerMid-container--content_left2 p:hover {
  color: #fff;
}
.footerMid-container--content_left3 p {
  color: #ffd419;
  font-family: Helvetica, sans-serif;

  cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;
}
.footerMid-container--content_left3 p:hover {
  color: #fff;
}
.footerMid-container--content_right {
  display: flex;
  justify-content: center;
  text-align: right;
  gap: 1.875rem;
  padding-top: 3.125rem;
  font-family: Babydoll, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
.footerMid-container--content_right2 img {
  margin-top: -1.25rem;
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
  .footerMid-container--content_left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.75rem;
  }
  .footerMid-container--content_left1 {
    grid-area: 1 / 1 / 2 / 3;
  }
  .footerMid-container--content_left2 {
    grid-area: 2 / 1 / 4 / 2;
  }
  .footerMid-container--content_left3 {
    grid-area: 2 / 2 / 4 / 3;
  }
}
@media screen and (max-width: 480px) {
  .footerMid-container {
    height: 100vh;
  }
  .footerMid-container--content {
    display: flex;
    flex-direction: column;
  }
  .footerMid-container--content_left {
    grid-row-gap: 1.5rem;
    grid-column-gap: 1.5rem;
  }
  .footerMid-container--content_left1 img {
    margin-left: 20%;
  }
}
