.critical-container {
  position: relative;
  min-height: 130vh;

  height: fit-content;
  background: #000
    url(//cdn.shopify.com/s/files/1/0422/2441/8983/t/101/assets/texture_6_2880x.png?v=7659131597866323551642685297)
    center / 100% no-repeat;
}

.critical-container--content img {
  height: 7.5rem;
}
.critical-container--content_title p {
  font-family: Jacques, sans-serif;
  color: #ffd419;
  font-size: 5.625rem;
  position: absolute;
  left: 6.25rem;
  top: 1.875rem;
  line-height: 0.8;
}
.critical-container--content_title span {
  display: block;
}

.critical-container--content_1 {
  background-image: url(../../../../images/Rectangle\ Copy\ 9.svg);
  background-repeat: no-repeat;
  width: 37.5rem;
  height: 14.0625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
  padding: 1.875rem 0.625rem;
  font-family: Babydoll, sans-serif;
  font-size: 2.5rem;
  position: absolute;
  top: 9.375rem;
  right: 18.75rem;
}
.critical-container--content_1 span {
  font-family: Jacques, sans-serif;
  font-size: 1.875rem;
}
.critical-container--content_1 .path {
  position: absolute;
  bottom: 0;
  right: -1.25rem;
}
.critical-container--content_2 {
  font-family: Babydoll, sans-serif;
  background-image: url(../../../../images/Rectangle\ Copy\ 10.svg);
  width: 25rem;
  height: 12.5rem;
  border-radius: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
  padding: 1.875rem 0.625rem;
  font-size: 1rem;
  position: absolute;
  top: 25rem;
  left: 28.125rem;
}
.author {
  font-weight: 600;
  font-size: 1.25rem;
}
.quotes {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.critical-container--content_2 .path {
  position: absolute;
  bottom: 0;
  right: -1.25rem;
}

.critical-container--content_3 {
  font-family: Babydoll, sans-serif;
  background-image: url(../../../../images/Rectangle\ Copy\ 10.svg);
  width: 25rem;
  height: 12.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
  padding: 1.875rem 0.625rem;
  font-size: 1rem;
  position: absolute;
  top: 31.25rem;
  right: 12.5rem;
}
.critical-container--content_3 .path {
  position: absolute;
  bottom: 0.625rem;
  left: -1.25rem;
}
.critical-container--content_4 {
  font-family: Babydoll, sans-serif;

  background-image: url(../../../../images/Rectangle\ Copy\ 10.svg);
  width: 25rem;
  height: 12.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
  padding: 1.875rem 0.625rem;
  font-size: 0.875rem;
  position: absolute;
  top: 42.5rem;
  left: 31.25rem;
}
.critical-container--content_4 .path {
  position: absolute;
  bottom: 0.625rem;
  left: -1.25rem;
}
.critical-container--content_images_left {
  position: absolute;
  height: 25rem;
  top: 18.75rem;
}
.critical-container--content_images_right {
  position: absolute;
  right: 0rem;
  top: 18.75rem;
}
@media screen and (max-width: 1024px) {
  .critical-container--content_1 {
    top: 9.375rem;
    right: 5rem;
  }
  .critical-container--content_2 {
    top: 25rem;
    left: 20rem;
  }
  .critical-container--content_3 {
    top: 40rem;
    right: 5rem;
  }
  .critical-container--content_4 {
    top: 40rem;
    left: 5rem;
  }
}
@media screen and (max-width: 768px) {
  .critical-container {
    position: relative;
    min-height: 150vh;

    height: fit-content;
  }
  .critical-container--content_title p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .critical-container--content_images {
    display: none;
  }
  .critical-container--content_1 {
    top: 9.375rem;
    left: 3rem;
  }
  .critical-container--content_2 {
    top: 25rem;
    left: 10rem;
  }
  .critical-container--content_3 {
    top: 40rem;
    left: 10rem;
  }
  .critical-container--content_4 {
    top: 55rem;
    left: 10rem;
  }
}
@media screen and (max-width: 480px) {
  .critical-container--content_title p {
    font-size: 60px;
    margin-left: -3.5rem;
  }
  .critical-container {
    min-height: 200vh;
  }
  .critical-container--content_1 {
    background-image: url(../../../../images/Rectangle\ Copy\ 10.svg);
    top: 9.375rem;
    left: 1rem;
    width: 25rem;
  }
  .critical-container--content_1 .path {
    position: absolute;
    bottom: 0.5rem;
    right: 0rem;
  }
  .critical-container--content_2 {
    top: 25rem;
    left: 1rem;
  }
  .critical-container--content_3 {
    top: 40rem;
    left: 1rem;
  }
  .critical-container--content_4 {
    top: 55rem;
    left: 1rem;
  }
}
