.critical-container {
  position: relative;
  min-height: 130vh;

  height: fit-content;
  background: #000
    url(//cdn.shopify.com/s/files/1/0422/2441/8983/t/101/assets/texture_6_2880x.png?v=7659131597866323551642685297)
    center / 100% no-repeat;
}

.critical-container--content img {
  height: 120px;
}
.critical-container--content_title p {
  font-family: Jacques, sans-serif;
  color: #ffd419;
  font-size: 90px;
  position: absolute;
  left: 100px;
  top: 30px;
  line-height: 0.8;
}
.critical-container--content_title span {
  display: block;
}

.critical-container--content_1 {
  background-image: url(../../../../images/Rectangle\ Copy\ 9.svg);
  background-repeat: no-repeat;
  width: 600px;
  height: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px 10px;
  font-family: Babydoll, sans-serif;
  font-size: 40px;
  position: absolute;
  top: 150px;
  right: 300px;
}
.critical-container--content_1 span {
  font-family: Jacques, sans-serif;
  font-size: 30px;
}
.critical-container--content_1 .path {
  position: absolute;
  bottom: 0;
  right: -20px;
}
.critical-container--content_2 {
  font-family: Babydoll, sans-serif;
  background-image: url(../../../../images/Rectangle\ Copy\ 10.svg);
  width: 400px;
  height: 200px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px 10px;
  font-size: 16px;
  position: absolute;
  top: 400px;
  left: 450px;
}
.author {
  font-weight: 600;
  font-size: 20px;
}
.quotes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.critical-container--content_2 .path {
  position: absolute;
  bottom: 0;
  right: -20px;
}

.critical-container--content_3 {
  font-family: Babydoll, sans-serif;
  background-image: url(../../../../images/Rectangle\ Copy\ 10.svg);
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px 10px;
  font-size: 16px;
  position: absolute;
  top: 500px;
  right: 200px;
}
.critical-container--content_3 .path {
  position: absolute;
  bottom: 10px;
  left: -20px;
}
.critical-container--content_4 {
  font-family: Babydoll, sans-serif;

  background-image: url(../../../../images/Rectangle\ Copy\ 10.svg);
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px 10px;
  font-size: 14px;
  position: absolute;
  top: 680px;
  left: 500px;
}
.critical-container--content_4 .path {
  position: absolute;
  bottom: 10px;
  left: -20px;
}
.critical-container--content_images_left {
  position: absolute;
  height: 400px;
  top: 300px
}
.critical-container--content_images_right {
  position: absolute;
  right: 0px;
  top: 300px;
}
