  .testimonial-wrapper {
    background: url(//cdn.shopify.com/s/files/1/0422/2441/8983/t/101/assets/texture_3_2880x.png?v=15004560659256832661642685295)
      right / 100% no-repeat;
    height: fit-content;
    min-height: 50vh;
  }
.testimonial-container {
  position: relative;
  background-image: url(//cdn.shopify.com/s/files/1/0422/2441/8983/files/PressBackground_1800x.png?v=1637219747);
  background-repeat: no-repeat;
  background-size: contain;
  height: 18.75rem;
  padding: 1.875rem 3.125rem;
  margin: 3.125rem 1.875rem 6.25rem 5rem;
  font-family: Babydoll, sans-serif;
  font-size: 1.25rem;
}
.testimonial-container--content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3.75rem;
}
.testimonial-container--content img {
  height: 1.875rem;
}
.testimonial-container--content p {
  width: 20rem;
  margin: 3.125rem 0rem;
}

.testimonial-container--left {
  position: absolute;
  top: -15.625rem;
  left: 0rem;
  transform: rotate(0.05turn);
  animation: float 3s ease-in-out infinite;
}
.testimonial-container--right img {
  transform: scaleX(-1);
}
.testimonial-container--right {
  position: absolute;
  transform: rotateY(180deg);
  bottom: -1.875rem;
  right: 25rem;
  animation: float 3s ease-in-out infinite;
}
.testimonial-container--bottom {
  position: absolute;
  bottom: -6.25rem;
  animation: fly 10s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes fly {
  0% {
    transform: translateX(-20vw);
  }

  100% {
    transform: translateX(100vw);
  }
}
@media screen and (max-width: 1024px) {
  .testimonial-container--content p {
    width: 15rem;
    margin: 0rem 0rem;
  }
  .testimonial-container--right {
    position: absolute;
    transform: rotateY(180deg);
    bottom: -4rem;
    right: 13rem;
    animation: float 3s ease-in-out infinite;
  }
}
@media screen and (max-width: 768px) {
  .testimonial-wrapper {
    min-height: 100vh;
  }
  .testimonial-container {
    background-image: none;
  }
  .testimonial-container--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .testimonial-container--right {
    top: -35rem;
    left: 30rem;
  }
  .testimonial-container--bottom {
    position: absolute;
    bottom: -6.25rem;
    animation: fly 5s ease-in-out infinite;
  }
}
@media screen and (max-width: 425px) {
  .testimonial-container--content {
    margin-left: -2rem;
  }
  .testimonial-container--right {
    top: -32rem;
    left: -8rem;
  }
  .testimonial-container--left {
    position: absolute;
    top: -13.625rem;
    left: 10rem;
  }
}
@media screen and (max-width: 376px) {
.testimonial-wrapper {
  min-height: 80vh;
}
.testimonial-container--right {
     top: -28rem;
    left: -8rem;
  }
  .testimonial-container--left {
    top: -10.625rem;
    left: 10rem;
  }
}
