.story-content--title p {
  font-family: Jacques, sans-serif;
  font-size: 5.625rem;
  line-height: 4.375rem;
  text-align: center;
  margin: 6.25rem 0;
}

.story-content--slider_item_main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(//cdn.shopify.com/s/files/1/0422/2441/8983/t/101/assets/texture_2_2880x.png?v=51736331721891025011642685296)
    right/100% no-repeat;
  cursor: grab;
}
.story-content--slider_item_main:active {
  cursor: grabbing;
}
.story-content--slider_item {
  position: relative;
  height: 31.25rem;
}

.story-content--slider_item img {
  height: 18.75rem;
}
.story-content--slider_item__year {
  font-family: Jacques, sans-serif;
  background-color: #000;
  color: #ffd419;
  font-size: 3.125rem;
  padding: 0.625rem;
  height: 5rem;
  margin-top: 3.125rem;
}
.story-content--slider_item__box {
  position: absolute;
  background-image: url(../../../../images/StoryBox.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  height: 14.0625rem;
  width: 35.5625rem;
  bottom: 0rem;
  left: 6.25rem;
  padding: 0.625rem 2.5rem;
  font-family: Babydoll, sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
}
.story-content--slider_item__box::before {
  content: "";
  background-image: url(../../../../images/StoryBox-Black.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  height: 14.0625rem;
  width: 35.5625rem;
  position: absolute;
  bottom: -0.9375rem;
  left: -0.9375rem;
  z-index: -1;
}
.story-content--slider_item__box p {
  position: absolute;
  top: 2.5rem;
  width: 21.25rem;
  text-align: center;
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
  .story-content--title p {
    font-size: 5.625rem;
    line-height: 6rem;
    margin: 6.25rem 0;
  }
  .story-content--slider_item__box {
    bottom: 0rem;
    left: 12rem;
  }
}
@media screen and (max-width: 480px) {
  .story-content--title p {
    font-size: 3.75rem;
    line-height: 3.125rem;
    text-align: center;
    margin: 3rem 0;
  }
  .story-content--slider_item__box {
    bottom: 0rem;
    left: 1rem;
    font-size: 14px;
  }
}
@media screen and (max-width: 376px) {
  .story-content--slider_item__box p {
    font-size: 14px;
    width: 16rem;
  }
  .story-content--slider_item__box {
  position: absolute;
  background-image: url(../../../../images/StoryBox.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  height: 14.0625rem;
  width: 32rem;
  bottom: 0rem;
  left: 1rem;
  padding: 0.625rem 2.5rem;
  font-family: Babydoll, sans-serif;
  font-weight: bold;
  font-size: 1rem;
}
.story-content--slider_item__box::before {
  content: "";
  background-image: url(../../../../images/StoryBox-Black.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  height: 14.0625rem;
  width: 32rem;
  position: absolute;
  bottom: -0.9375rem;
  left: -0.9375rem;
  z-index: -1;
}
.story-content--slider_item__box p {
  position: absolute;
  top: 2.5rem;
  left: 1rem;
  width: 21.25rem;
  text-align: center;

}
  
}
