.storybanner-container {
  position: relative;
  margin-top: 3.125rem;
  background: url(https://cdn.shopify.com/s/files/1/0422/2441/8983/articles/what_is_salted_egg_header_1800x.png?v=1622183886)
    center / 100% no-repeat;
  height: 56.25rem;
  width: 100%;
}
.storybanner-text {
  color: #fff;
  position: absolute;
  top: 6.25rem;
  left: 6.25rem;
}
.storybanner-text span {
  font-family: Jacques, sans-serif;
  font-size: 5rem;
}
.storybanner-text p {
  font-family: Babydoll, sans-serif;
  font-size: 1.5rem;
  width: 28.125rem;
  padding: 0.625rem 0 1.875rem;
}
@media screen and (max-width: 1024px) {
  .storybanner-container {
    position: relative;
    margin-top: 3.125rem;
    background: url(https://cdn.shopify.com/s/files/1/0422/2441/8983/articles/what_is_salted_egg_header_1800x.png?v=1622183886)
      center / 100% 100% no-repeat;
    height: 50rem;
  }
}
@media screen and (max-width: 768px) {
  .storybanner-container {
    position: relative;
    margin-top: 3.125rem;
    background: url(https://cdn.shopify.com/s/files/1/0422/2441/8983/articles/what_is_salted_egg_header_1800x.png?v=1622183886)
      center / 100% 55rem no-repeat;
    height: 20rem;
  }
}
@media screen and (max-width: 480px) {
  .storybanner-container {
    background-image: none;
    margin-top: 3.125rem;
  }
  .storybanner-text {
    color: #ffd419;
    width: 25rem;
    text-align: center;
    position: absolute;
    left: 2rem;
    padding: 0 1rem;
  }
  .storybanner-text span {
    font-family: Jacques, sans-serif;
    font-size: 3.75rem;
  }
  .storybanner-text p {
    font-family: Babydoll, sans-serif;
    font-size: 1.25rem;
    width: 22rem;
    padding: 0.625rem 0 1.875rem;
  }
}
