.order-details-container {
  margin: 6.25rem 0rem;
  padding: 0 3.125rem;
  min-height: 80vh;
  height: fit-content;
}
.order-details-title {
  font-size: 5.25rem;
  text-align: center;
  font-family: Jacques, sans-serif;
}
.back-to-orders {
  border-radius: 0.75rem;
  padding: 0.625rem;
  cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;
  transition: all 0.3s;
  width: fit-content;
  font-size: 1.25rem;
}
.back-to-orders:hover {
  background-color: #966d51;
}
.order-details-container table {
  width: 100%;
}
.order-details-container tr,
th,
td {
  text-align: center;
}
.order-details-container table button {
  padding: 0.625rem 1.25rem;
  border-radius: 0.75rem;
  background-color: #8d9eff;
  color: #fff;
  border: none;
  outline: none;
  cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;
}
.order-details-container textarea {
  padding: 1.25rem;
  margin: 0.625rem 0rem;
}
.text-review {
  width: 25rem;
}
.rating-start {
  width: 18.75rem;
}
.order-details-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 50%;
}
.cancel-order {
  outline: none;
  border: none;
  color: red;
  width: 200px;
  height: 50px;
  font-size: 24px;
  background-color: transparent;
  cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;
}
.cancel-order:disabled,
.cancel-order[disabled]{
  color: #666666;
  cursor: not-allowed;
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
  .order-details-top {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10%;
  }
  .order-details-title {
    font-size: 3.75rem;
  }
  .order-details-price {
    display: none;
  }
}
