.story-wrapper {
  background: url(https://cdn.shopify.com/s/files/1/0422/2441/8983/t/101/assets/texture_3_2880x.png?v=15004560659256832661642685295)
    center / 100% no-repeat;
}

.story-ingredients {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
  background-image: url(https://cdn.shopify.com/s/files/1/0422/2441/8983/files/PressBackground_1800x.png?v=1637219747);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 28.125rem;
  width: 81.25rem;
  margin: 5% 10%;
  font-family: Babydoll, sans-serif;
}
.story-ingredients--item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;
}
.story-ingredients--item span {
  margin-top: 1.25rem;
  font-weight: bold;
  font-size: 1.5rem;
  width: 12.5rem;
  text-align: center;
}

.story-ingredients--item p {
  width: 15.625rem;
  font-size: 1.125rem;
  text-align: center;
}
.story-ingredients--item_character1 {
  position: absolute;
  top: 0rem;
  left: -1.25rem;
  transform: rotate(0.05turn);
  animation: float 3s ease-in-out infinite;
}
.story-ingredients--item_character2 {
  position: absolute;
  bottom: -1.875rem;
  right: 3.125rem;
  animation: float 3s ease-in-out infinite;
}
@media screen and (max-width: 2150px) {
    .story-ingredients {
    height: 28.125rem;
    width: 100rem;
    margin: 5% 15%;
    gap: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .story-ingredients {
    height: 28.125rem;
    width: 60rem;
    margin: 5% 3%;
    gap: 10px;
  }
  .story-ingredients--item p {
    width: 14rem;
  }
}
@media screen and (max-width: 768px) {
  .story-ingredients {
    background-image: url(https://cdn.shopify.com/s/files/1/0422/2441/8983/files/PressBackground_1800x.png?v=1637219747);
    height: 28.125rem;
    width: 45rem;
    margin: 6.25rem 1rem;
    gap: 2rem;
  }
  .story-ingredients--item p {
    width: 8rem;
    font-size: 1.125rem;
    text-align: center;
  }
  .story-ingredients--item span {
    margin-top: 1.25rem;
    width: 8rem;
  }
}
@media screen and (max-width: 480px) {
  .story-wrapper {
    min-height: 160vh;
    height: fit-content;
  }
  .story-ingredients {
    width: 100%;
    background-image: none;
    gap: 2rem;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 120%;
  }
  .story-ingredients--item_character1 {
    display: none;
  }
  .story-ingredients--item_character2 {
    display: none;
  }
}
@media screen and (max-width: 376px) {
  .story-wrapper {
    min-height: 120vh;
  }
}
