.cartTotal-container {
  background: url(https://cdn.shopify.com/s/files/1/0422/2441/8983/t/101/assets/cart_summary_800x.png?v=141979644661353595901642685295)
    center / 100% no-repeat;
  height: 40.625rem;
  width: 31.25rem;
  padding: 2.5rem;
}
.free-delivery {
  background: url(https://cdn.shopify.com/s/files/1/0422/2441/8983/t/101/assets/cart_summary_free_delivery_400x.png?v=129436690060137931251642685297)
    center / 100% no-repeat;
  width: 25rem;
  height: 9.375rem;
  position: relative;
}
.cartTotal-container .title,
.quantity {
  font-size: 1.25rem;
  font-family: Babydoll, sans-serif;
}
.quantity span {
  font-size: 1.875rem;
}
.cartTotal-container .totalAmount {
  font-size: 5rem;
  text-align: left;
  font-family: Babydoll, sans-serif;
}

.free-delivery p {
  position: absolute;
  top: 3.125rem;
  left: 3.125rem;
  text-align: center;
  font-family: Babydoll, sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  width: 18.75rem;
}
.cartTotal-container .delivery {
  font-family: Babydoll, sans-serif;
  font-size: 1.25rem;
}
.cartTotal-container button {
  background: url(../../../../images/buttonHover.svg) center / 100% no-repeat;
  outline: none;
  border: none;
  height: 6.25rem;
  width: 15.625rem;
  margin-left: 5rem;
  transition: 0.3s;
  font-size: 1.25rem;
  color: #ffd419;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;
}
.cartTotal-container button:hover {
  background: url(../../../../images/button.svg) center / 100% no-repeat;
  color: #000;
}
.cartTotal-container .term {
  font-family: Babydoll, sans-serif;
  font-size: 1.125rem;
  text-align: center;
  width: 18.75rem;
  margin-left: 3.125rem;
}
.cartTotal-container .term a {
  text-decoration: underline;
  color: #ce9a10;
  cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;
  transition: 0.3s;
}
.cartTotal-container .term a:hover {
  color: #fff;
  background-color: #000;
}
.cartTotal-container .deposit-card {
  padding: 0.9375rem 0rem;
  display: flex;
  justify-content: space-evenly;
}
.cartTotal-container .text {
  font-family: Babydoll, sans-serif;
  text-align: center;
}
.cartTotal-container .totalAmount span {
  font-family: Jacques, sans-serif;
  margin-left: 0.625rem;
}
@media screen and (max-width: 1024px) {
   .cartTotal-container {
    margin-left: 25%;
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 768px) {
  .cartTotal-container {
    margin-left: 20%;
  }
}
@media screen and (max-width: 480px) {
  
  .cartTotal-container {
    background: url(https://cdn.shopify.com/s/files/1/0422/2441/8983/t/101/assets/cart_summary_800x.png?v=141979644661353595901642685295)
      center / 100% no-repeat;
    height: 40.625rem;
    width: 25rem;
    padding: 2.5rem;
    margin-left: 3%;

  }
  .cartTotal-container .quantity {
    width: 15rem;
  }
  .free-delivery {
    width: 20rem;
    height: 5rem;
  }
  .free-delivery p {
    font-size: 1.5rem;
  }
  .free-delivery p {
    position: absolute;
    top: 0.5rem;
    left: 3.125rem;
    width: 15rem;
  }
  .cartTotal-container button {
    margin-left: 2rem;
  }
  .cartTotal-container .term {
    margin-left: 1.5rem;
  }
  .cartTotal-container .totalAmount {
    font-size: 3.125rem;
  }
}
@media screen and (max-width: 376px) {
   .cartTotal-container {
    margin-left: 0%;
     height: 40.625rem;
    width: 23.5rem;
    padding: 1.5rem;
  }
}