.video-container {
  font-family: Jacques, sans-serif;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  background: #ffd419
    url(//cdn.shopify.com/s/files/1/0422/2441/8983/t/101/assets/texture_4_2880x.png?v=141024063350381755161642685295)
    center / 100% no-repeat;
}

.video-container--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.video-container--content_title p {
  font-size: 5.3125rem;
  text-transform: uppercase;
  text-align: center;
  margin: 3.125rem 0rem;
}
.video-container--content_main {
  z-index: 0;
}
.video-container--content_main__video {
  mask: url(../../../../images/video-mask.png) center / 75rem 43.75rem no-repeat;
}

.video-container--content_main__text p {
  z-index: 10;
  font-size: 3.125rem;
  background-color: #000;
  margin-bottom: 0.625rem;
  padding: 0.3125rem;
  width: fit-content;
  height: fit-content;
  color: #ffd419;
  text-transform: uppercase;
  position: absolute;
}

.video-container--content_main__text1 {
  top: 6.25rem;
  left: 62.5rem;
}
.video-container--content_main__text2 {
  top: 11.25rem;
  left: 62.5rem;
}
.video-container--content_main__text3 {
  top: 16.25rem;
  left: 62.5rem;
}
.video-container--content_main__text4 {
  top: 21.25rem;
  left: 62.5rem;
}
.video-container--content_main__text5 {
  top: 26.25rem;
  left: 62.5rem;
}
.video-container--content_main__text6 {
  top: 31.25rem;
  left: 62.5rem;
}

.video-container--content_ingredients {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.video-container--content_ingredients div {
  width: 9.375rem;
  margin-top: 1.875rem;
}
.video-container--content_ingredients p {
  font-family: Babydoll, sans-serif;
  font-size: 1.5625rem;
  margin-top: 1.25rem;
}
.video-container--content_button {
  background-image: url(../../../../images/Rectangle-5.svg);
  background-repeat: no-repeat;
  height: 4.375rem;
  width: 18.75rem;
  font-family: Helvetica, serif;
  font-weight: bold;
  font-size: 1.25rem;
  display: flex;
  gap: 1.25rem;
  transition: 0.3s;
  margin: 1.875rem 0 3.125rem;
  cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;
}
.video-container--content_button:hover {
  background-image: url(../../../../images/Rectangle-5-black.svg);
}
.video-container--content_button__text__arrow {
  background-image: url(../../../../images/Arrow-black.svg);
  background-repeat: no-repeat;
  height: 1.875rem;
  width: 4.375rem;
}
.video-container--content_button:hover
  .video-container--content_button__text__arrow {
  background-image: url(../../../../images/Arrow-white.svg);
}
.video-container--content_button:hover .video-container--content_button__text {
  color: white;
}
.video-container--content_button__text {
  top: 0.5rem;
  left: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.625rem;
}

.video-container--content_image {
  margin-bottom: 50px;
}
.video-container--content_main__video video {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1024px) {
  .video-container--content_main__video video {
    mask: url(../../../../images/video-mask.png) center / 50rem 30rem no-repeat;
    width: 100%;
    height: auto;
  }
  .video-container--content_main__text p {
    font-size: 2rem;
    background-color: #000;
    margin-bottom: 5px;
    padding: 0.3125rem;
    width: fit-content;
    height: fit-content;
    color: #ffd419;
    text-transform: uppercase;
    position: absolute;
  }

  .video-container--content_main__text1 {
    top: 3rem;
    left: 5rem;
  }
  .video-container--content_main__text2 {
    top: 7rem;
    left: 5rem;
  }
  .video-container--content_main__text3 {
    top: 11rem;
    left: 5rem;
  }
  .video-container--content_main__text4 {
    top: 15rem;
    left: 5rem;
  }
  .video-container--content_main__text5 {
    top: 18rem;
    left: 5rem;
  }
  .video-container--content_main__text6 {
    top: 23rem;
    left: 5rem;
  }
  .video-container--content_button {
    margin-left: 10%;
  }
}
@media screen and (max-width: 768px) {
  .video-container--content_main__video video {
    mask: url(../../../../images/video-mask.png) center / 40rem 30rem no-repeat;
    width: 100%;
    height: auto;
  }

  .video-container--content_title p {
    font-size: 5.3125rem;
    margin: 3.125rem 3rem;
  }
  .video-container--content_main__text1 {
    top: 3rem;
    left: 3rem;
  }
  .video-container--content_main__text2 {
    top: 7rem;
    left: 3rem;
  }
  .video-container--content_main__text3 {
    top: 11rem;
    left: 3rem;
  }
  .video-container--content_main__text4 {
    top: 15rem;
    left: 3rem;
  }
  .video-container--content_main__text5 {
    top: 20rem;
    left: 3rem;
  }
  .video-container--content_main__text6 {
    top: 23rem;
    left: 3rem;
  }

  .video-container--content_main__text p {
    font-size: 2.5rem;
    background-color: #000;
    margin-bottom: 0.625rem;
    padding: 0.3125rem;
    width: fit-content;
    height: fit-content;
    color: #ffd419;
    text-transform: uppercase;
    position: absolute;
  }
  .video-container--content_button {
    margin-left: 15%;
  }
}
@media screen and (max-width: 480px) {
  .video-container--content_title p {
    font-size: 3.75rem;
    margin: 3.125rem 0rem;
    line-height: 2.8125rem;
  }
  .video-container--content_main__video video {
    mask: url(../../../../images/video-mask.png) center / 25rem 15rem no-repeat;
    width: 100%;
    height: auto;
  }
  .video-container--content_main__text p {
    font-size: 1.5rem;
    background-color: #000;
    margin-bottom: 5px;
    padding: 0.3125rem;
    width: fit-content;
    height: fit-content;
    color: #ffd419;
    text-transform: uppercase;
    position: absolute;
  }
  .video-container--content_main__text1 {
    top: 1rem;
    left: 1rem;
  }
  .video-container--content_main__text2 {
    top: 3.5rem;
    left: 1rem;
  }
  .video-container--content_main__text3 {
    top: 6.1rem;
    left: 1rem;
  }
  .video-container--content_main__text4 {
    top: 8.7rem;
    left: 1rem;
  }
  .video-container--content_main__text5 {
    top: 11.3rem;
    left: 1rem;
  }
  .video-container--content_main__text6 {
    top: 13.9rem;
    left: 1rem;
  }
  .video-container--content_ingredients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .video-container--content_image {
    width: 20rem;
  }
}
