.footerTop-container {
  background-color: #ffd419;
  height: 40vh;
  position: relative;
  background-image: url(https://cdn.shopify.com/s/files/1/0422/2441/8983/t/101/assets/texture_1_2880x.png?v=133829917100679285621642685297);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}
.footerTop-container--content_title p {
  padding-top: 3.125rem;
  font-size: 5.25rem;
  text-align: center;
  font-family: Jacques, sans-serif;
}
.footerTop-container-content_social {
  display: flex;
  gap: 1.875rem;
  justify-content: center;
  align-items: center;
  margin-top: 3.125rem;
  cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;
}
.footerTop-container--content_character img {
  position: absolute;
  top: -12rem;
  right: 15.625rem;
}
@media screen and (max-width: 1024px) {
  .footerTop-container-content_social {
    margin-top: 1rem;
  }
  .footerTop-container--content_character img {
  top: -10rem;
  right: 5rem;
}
}
@media screen and (max-width: 768px) {
  .footerTop-container--content_character img {
  top: -10rem;
  right: 1rem;
}
}
@media screen and (max-width: 480px) {
   .footerTop-container--content_character img {
  top: 0rem;
  right: 1rem;
}
  .footerTop-container--content_title p {
    font-size: 3.75rem;
  }
  .footerTop-container-content_social {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 376px) {
  .footerTop-container-content_social a {
    margin-left: 1rem;
  }
}