.register-wrapper {
  min-height: 100vh;
  height: fit-content;
  width: 100%;
}
.register-container {
  padding: 0 30%;
  margin-bottom: 6.25rem;
}
.register-container-top {
    padding: 10rem 3.125rem 3.125rem 3.125rem;

}
.register-container-top .title {
  font-family: Jacques, sans-serif;
  font-size: 5rem;
  text-align: center;
}
.facebook-box {
  background-color: #3b5998;
  border-color: #2d5073;
  height: 3.125rem;
  width: 100%;
  color: #fff;
  padding: 0.9375rem 0 0.9375rem 0.9375rem;
  font-size: 1.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.25rem 0;
  cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;
}
.facebook-box i {
  background-color: #4f6aa3;
  padding: 1rem 1.125rem;
}
.facebook-box:hover {
  background-color: #4f6aa3;
}
.google-box {
  background-color: #dd4b39;
  border-color: #c23321;
  height: 3.125rem;
  color: #fff;
  padding: 0.9375rem 0 0.9375rem 0.9375rem;
  font-size: 1.125rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;
}
.google-box i {
  background-color: #e05d4d;
  padding: 0.9375rem;
}
.or-line {
  font-family: Babydoll, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: row;
}
.or-line::before,
.or-line::after {
  content: "";
  flex: 1 1;
  border-bottom: 0.0625rem solid #000;
  margin: auto;
}
.or-line::before {
  margin-right: 0.625rem;
}
.or-line::after {
  margin-left: 0.625rem;
}

.register-container-bot .title {
  font-size: 5rem;
  font-family: Jacques, sans-serif;
  text-align: center;
  margin-bottom: 3.125rem;
}
.register-container-bot label {
  font-family: Babydoll, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  display: block;
}
.register-container-bot input {
  background: url(../../../images/inputBox.svg) center / 100% no-repeat;
  height: 6.25rem;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}
.register-container-bot input:active {
  background: url(../../../images/inputBox.svg) center / 100% no-repeat;
}
.register-container-bot button {
  background: url(../../../images/button.svg) center / 100% no-repeat;
  border: none;
  outline: none;
  height: 6.25rem;
  width: 15.625rem;
  margin-left: 8.75rem;
  font-family: Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  transition: 0.3s;
  cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;
}
.register-container-bot button:hover {
  background: url(../../../images/buttonHover.svg) center / 100% no-repeat;
  color: #ffd419;
}
.error-message {
  color: #c23321;
  font-family: Babydoll, sans-serif;
  font-size: 1.125rem;
  padding: 0rem 1.25rem;
}
.login-text {
  font-size: 1.25rem;
  font-family: Babydoll, sans-serif;
  text-align: center;
  margin: 1.25rem 0;
}
.forgot-password {
  display: inline-block;
  padding: 0.3125rem;
  border-bottom: 0.0625rem solid #000;
  margin-left: 9.375rem;
}
.forgot-password:hover {
  background-color: #000;
  color: #fff;
  cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;
}
.forgotPassword {
  margin-top: 6.25rem;
}
@media screen and (max-width: 1024px) {
   .register-container {
    padding: 0 20%;
  }
  .register-container button  {
    margin-left: 30%;
  }
}
@media screen and (max-width: 768px) {
   .register-container {
    padding: 0 10%;
  }
  .register-container button  {
    margin-left: 30%;
  }
}
@media screen and (max-width: 480px) {
    .register-container {
    padding: 0 10%;
  }
  .register-container button  {
    margin-left: 15%;
  }
}
