.review-container {
  min-height: 40vh;
  height: fit-content;
  width: 100%;
  padding: 50px 0;
}
.review-title {
  font-size: 80px;
  font-family: Jacques, sans-serif;
  text-align: center;
}
.review-content {
  padding: 0 300px;
}
.content-top {
  display: flex;
  justify-content: space-between;
  align-self: center;
  font-size: 20px;
  font-family: Babydoll, sans-serif;
  padding: 20px 50px;
}
.content-mid {
  padding: 20px 50px;
  font-size: 20px;
  font-family: Babydoll, sans-serif;
}
.content-top .name {
  font-size: 24px;
  font-weight: bold;
}

.review-totalnumber {
  font-family: Babydoll,sans-serif;
  font-size: 24px;
  text-align: center;
}