.review-container {
  min-height: 40vh;
  height: fit-content;
  width: 100%;
  padding: 3.125rem 0;
}
.review-title {
  font-size: 5rem;
  font-family: Jacques, sans-serif;
  text-align: center;
}
.review-content {
  padding: 0 20%;
}
.content-top {
  display: flex;
  justify-content: space-between;
  align-self: center;
  font-size: 1.25rem;
  font-family: Babydoll, sans-serif;
  padding: 1.25rem 3.125rem;
}
.content-mid {
  padding: 1.25rem 3.125rem;
  font-size: 1.25rem;
  font-family: Babydoll, sans-serif;
}
.content-top .name {
  font-size: 1.5rem;
  font-weight: bold;
}

.review-totalnumber {
  font-family: Babydoll, sans-serif;
  font-size: 1.5rem;
  text-align: center;
}
.no-review {
  text-align: center;
  font-family: Babydoll, sans-serif;
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
  .review-content {
    padding: 0 5%;
  }
}
@media screen and (max-width: 480px) {
  .review-title {
    font-size: 48px;
  }
  .review-content {
    padding: 0% 1%;
  }
  .content-top {
    padding: 1.25rem 1rem;
  }
}
@media screen and (max-width: 376px) {
  .content-top {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
