.slider-container {
  padding: 0 3.125rem;
  background: url(//cdn.shopify.com/s/files/1/0422/2441/8983/t/101/assets/texture_2_2880x.png?v=51736331721891025011642685296)
    center center / 100% no-repeat;
}
.slider-container--items {
  height: 37.5rem;
  width: 30rem;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.563rem;
  position: relative;
}
.slider-container--items_image {
  mask: url(../../../../../images/svgexport-25.svg) center / 100% no-repeat;
  width: 18.75rem;
  height: 25rem;
  position: relative;
  transition: 0.5s;
}
.slider-container--items_image:hover {
  background: #fff center / 100% no-repeat;
  transition: 0.5s;
}
.slider-container--items_image img {
  transition: 0.5s;
  position: absolute;
}

.slider-container--items_image:hover img {
  top: 1.875rem;
}

.slider-container--items_image button {
  position: absolute;
  bottom: -6.25rem;
  left: 4.375rem;
  width: 11.25rem;
  opacity: 0;
  padding: 0.625rem 1.25rem;
  border-radius: 3.125rem;
  background-color: #fff;
  border: 5px solid black;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.5s;
  cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;
}
.slider-container--items_image button:hover {
  background-color: #ffd419;
}
.slider-container--items_image:hover .button-add {
  opacity: 1;
  bottom: 6.25rem;
}
.slider-container--items_image:hover .button-info {
  opacity: 1;
  bottom: 2.5rem;
}

.slider-container--items_image__main {
  height: 12.5rem;
  position: absolute;
  top: 6.25rem;
  left: 3.75rem;
}
.slider-container--items_content {
  font-family: Babydoll, sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 12.5rem;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin-left: 3.125rem;
  cursor: grab;
}
.slider-container--items_content:active {
  cursor: grabbing;
}
.slider-container--items_content__title {
  height: 3.75rem;
}
.slider-container--items_content__star {
  color: #ffd419;
}
.slider-container--items_content span {
  font-size: 1rem;
  color: black;
}
.slider-container--items_content_price {
  font-size: 1.875rem;
  padding: 0.313rem 0;
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 376px) {
  .slider-container--items {
  height: 37.5rem;
  width: 20rem;
}
.slider-container--items_image {
  mask: url(../../../../../images/svgexport-25.svg) center / 80% no-repeat;
  width: 19rem;
  height: 25rem;
  position: relative;
  transition: 0.5s;
}
.slider-container--items_image img {
  width: 60%;
  height: 50%;
  position: absolute;
  left: 4rem;
}
.slider-container--items_image button {
  position: absolute;
  bottom: -6.25rem;
  left: 5rem;
  width: 10rem;
  font-weight: bold;
  font-size: 0.75rem;
 
}
.slider-container--items_image:hover .button-add {
  opacity: 1;
  bottom: 7.25rem;
}
.slider-container--items_image:hover .button-info {
  opacity: 1;
  bottom: 4.5rem;
}
}
