.header-main {
  font-family: Helvetica, serif;
  position: absolute;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 10px 30px;
  font-size: 18px;
  line-height: 18px;
  background: #fff;
  position: fixed;
}
.subnav {
  float: left;
  overflow: hidden;
}
.subnavbtn {
  padding: 22px;
}

.subnav-content {
  position: absolute;
  left: 0;
  top: 64px;
  background-color: #fff5cc;
  width: 250px;
  height: 350px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Jacques, sans-serif;
  font-size: 30px;
  font-weight: normal;
  padding: 40px;
  transition: all 0.5s ease-in-out;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
  border-bottom-right-radius: 20px;
}
.subnav-container {
  display: none;
}
.subnav-content p {
  padding: 20px;
  border-radius: 12px;
}
.subnav-content p:hover {
  background-color: black;
  color: #ffd419;
}
.subnav:hover .subnav-container {
  display: block;
}

.header-main--left,
.header-main--right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;
}
.header-main--left span {
  margin: 0 5px;
}
.header-main--left li {
  margin-right: 20px;
}
.header-main--right .cartIcon-symbol {
  width: 45px;
  height: 45px;
}
.cartIcon-container {
  position: relative;
}
.cartIcon-container:hover div {
  transform: scale(1.8);
  top: 10px;
  left: 4px;
  transition: 0.5s;
  padding: 2px 10px;
}
.cartIcon-container div {
  position: absolute;
  top: -5px;
  left: 35px;
  padding: 2px 6px;
  text-align: center;
  border: 3px solid #000;
  border-radius: 20px;
  background-color: #ffd419;
  transition: 0.5s;
}
.header-main--right li {
  font-family: Helvectica,sans-serif;
  margin-left: 20px;
}
.header-main--tile img {
  height: 47px;
  cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;
}
