.all-products-table {
    width: 100%;    
    min-height: 100vh;
    height: fit-content;

}
.all-products-table  input {
    width: 300px;
    padding: 10px 10px 10px 30px;
    margin-bottom: 20px;
}
.all-products-table .search {
    position: relative;
}
.all-products-table i {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
}
.table-row-name {
    width: 500px;
}
.table-row-category {
    padding:0px 20px;
}
.view-product-icon-edit {
    cursor: pointer;
    width: 30px;
    margin:0px 10px;
    color: green
}.view-product-icon-delete{
    color: red;
    width: 30px;

    cursor: pointer;
}