.all-products-table {
    width: 100%;    
    min-height: 100vh;
    height: fit-content;

}
.all-products-table  input {
    width: 18.75rem;
    padding: 0.625rem 0.625rem 0.625rem 1.875rem;
    margin-bottom: 1.25rem;
}
.all-products-table .search {
    position: relative;
}
.all-products-table i {
    position: absolute;
    z-index: 1;
    top: 0.625rem;
    left: 0.625rem;
}
.table-row-name {
    width: 31.25rem;
}
.table-row-category {
    padding:0rem 1.25rem;
}
.view-product-icon-edit {
    cursor: pointer;
    width: 1.875rem;
    margin:0rem 0.625rem;
    color: green
}.view-product-icon-delete{
    color: red;
    width: 1.875rem;

    cursor: pointer;
}