.all-products-table {
    width: 100%;    
    min-height: 100vh;
    height: fit-content;

}
.table-row-name {
    width: 500px;
}
.table-row-category {
    padding:0px 20px;
}
.view-product-icon-edit {
    cursor: pointer;
    width: 30px;
    margin:0px 10px;
    color: green
}.view-product-icon-delete{
    color: red;
    width: 30px;

    cursor: pointer;
}