
.master-container {
  min-height: 235vh;
  height: fit-content;
  background: #ffd419
    url(https://cdn.shopify.com/s/files/1/0422/2441/8983/t/101/assets/texture_8_2880x.png?v=136336827497747970581642685297)
    center / 100% no-repeat;
}
.master-title p {
  text-align: center;
  font-size: 80px;
  margin: 50px 0;
  font-family: Jacques, sans-serif;
}
.master-tree {
  position: relative;
}
.master-tree img {
  height: 250px;
}
.master-tree-line {
  position: absolute;
  right: 50%;
  width: 10px;
  height: 185vh;
  background-color: #000;
}
.master-tree-content {
  font-family: Babydoll, sans-serif;
  background-color: #fff5cc;
  height: 200px;
  width: 400px;
  padding: 40px 20px;
  text-align: center;
  border-radius: 24px;
}
.step {
  font-family: Jacques, sans-serif;
  padding: 10px;
  font-size: 40px;
  color: #ffd419;
  background-color: #000;
  width: fit-content;
}
.master-tree-content p {
  padding: 20px;
  font-size: 24px;
}
.step-1 {
  position: absolute;
  top: 100px;
  right: 450px;
}
.step-1 img {
  position: absolute;
  top: -150px;
  right: -150px;
}
.step-2 {
  position: absolute;
  top: 350px;
  left: 450px;
}
.step-2 img {
  position: absolute;
  top: -150px;
  left: -150px;
}
.step-3 {
  position: absolute;
  top: 600px;
  right: 450px;
}
.step-3 img {
  position: absolute;
  top: -150px;
  right: -150px;
}
.step-4 {
  position: absolute;
  top: 850px;
  left: 450px;
}
.step-4 img {
  position: absolute;
  top: -150px;
  left: -150px;
}
.step-5 {
  position: absolute;
  top: 1100px;
  right: 450px;
}
.step-5 img {
  position: absolute;
  top: -150px;
  right: -150px;
}
.character1 img {
  height: 80px;
  position: absolute;
  top: 200px;
  right: 800px;
}
.character2 img {
  height: 80px;
  position: absolute;
  top: 750px;
  right: 400px;
}
.character3 img {
  height: 80px;
  position: absolute;
  top: 680px;
  left: 300px;
}
.character4 img {
  height: 80px;
  position: absolute;
  top: 1350px;
  left: 710px;
}
.dot {
  position: absolute;
  top: -10px;
  left: 742px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #000;
}