.master-container {
  min-height: 235vh;
  height: fit-content;
  background: #ffd419
    url(https://cdn.shopify.com/s/files/1/0422/2441/8983/t/101/assets/texture_8_2880x.png?v=136336827497747970581642685297)
    center / 100% no-repeat;
}
.master-title p {
  text-align: center;
  font-size: 5rem;
  margin: 3.125rem 0;
  font-family: Jacques, sans-serif;
}
.master-tree {
  position: relative;
}
.master-tree img {
  height: 15.625rem;
}
.master-tree-line {
  position: absolute;
  right: 47%;
  width: 0.625rem;
  height: 185vh;
  background-color: #000;
}
.master-tree-content {
  font-family: Babydoll, sans-serif;
  background-color: #fff5cc;
  height: 12.5rem;
  width: 25rem;
  padding: 2.5rem 1.25rem;
  text-align: center;
  border-radius: 1.5rem;
}
.step {
  font-family: Jacques, sans-serif;
  padding: 0.625rem;
  font-size: 2.5rem;
  color: #ffd419;
  background-color: #000;
  width: fit-content;
}
.master-tree-content p {
  padding: 1.25rem;
  font-size: 1.5rem;
}
.step-1 {
  position: absolute;
  top: 6.25rem;
  right: 28.125rem;
}
.step-1 img {
  position: absolute;
  top: -9.375rem;
  right: -9.375rem;
  z-index: 1;
}
.step-2 {
  position: absolute;
  top: 21.875rem;
  left: 28.125rem;
}
.step-2 img {
  position: absolute;
  top: -9.375rem;
  z-index: 1;
  left: -9.375rem;
}
.step-3 {
  position: absolute;
  top: 37.5rem;
  right: 28.125rem;
}
.step-3 img {
  position: absolute;
  top: -9.375rem;
  z-index: 1;
  right: -9.375rem;
}
.step-4 {
  position: absolute;
  top: 53.125rem;
  left: 28.125rem;
}
.step-4 img {
  position: absolute;
  top: -9.375rem;
  z-index: 1;
  left: -9.375rem;
}
.step-5 {
  position: absolute;
  top: 68.75rem;
  right: 28.125rem;
}
.step-5 img {
  position: absolute;
  top: -9.375rem;
  z-index: 1;
  right: -9.375rem;
}
.character1 img {
  height: 5rem;
  position: absolute;
  top: 12.5rem;
  right: 50rem;
}
.character2 img {
  height: 5rem;
  position: absolute;
  top: 46.875rem;
  right: 25rem;
}
.character3 img {
  height: 5rem;
  position: absolute;
  top: 42.5rem;
  left: 18.75rem;
}
.character4 img {
  height: 5rem;
  position: absolute;
  top: 84.375rem;
  left: 44.375rem;
}

@media screen and (max-width: 1024px) {
  .master-tree img {
    height: 90%;
  }
  .step-1 {
    top: 6.25rem;
    right: 10rem;
  }
  .step-1 img {
    top: -5rem;
    right: -5rem;
  }

  .step-2 {
    top: 23rem;
    left: 12rem;
  }
  .step-2 img {
    top: -5rem;
    left: -5rem;
  }

  .step-3 {
    top: 43rem;
    right: 10rem;
  }
  .step-3 img {
    top: -5rem;
    right: -5rem;
  }

  .step-4 {
    top: 61rem;
    left: 12rem;
  }
  .step-4 img {
    top: -5rem;
    left: -5rem;
  }

  .step-5 {
    top: 79rem;
    right: 11rem;
  }
  .step-5 img {
    top: -5rem;
    right: -5rem;
  }
  .character1 img {
  height: 5rem;
  position: absolute;
  top: 12.5rem;
  right: 35rem;
}
.character2 img {
  height: 5rem;
  position: absolute;
  top: 55rem;
  right: 10rem;
}
.character3 img {
  height: 5rem;
  position: absolute;
  top: 55rem;
  left: 5rem;
  z-index: 10;
}
.character4 img {
  height: 5rem;
  position: absolute;
  top: 100rem;
  left: 31rem;
}.master-tree-line {
    height: 200vh;
  }
}.master-container {
    min-height: 280vh;
  }
@media screen and (max-width: 768px) {
  .master-tree img {
    height: 80%;
  }
  .step-1 {
    top: 6.25rem;
    right: 10rem;
  }
  .step-1 img {
    top: -5rem;
    right: -5rem;
  }

  .step-2 {
    top: 25rem;
    left: 12rem;
  }
  .step-2 img {
    top: -5rem;
    left: -5rem;
  }

  .step-3 {
    top: 43rem;
    right: 10rem;
  }
  .step-3 img {
    top: -5rem;
    right: -5rem;
  }

  .step-4 {
    top: 61rem;
    left: 12rem;
  }
  .step-4 img {
    top: -5rem;
    left: -5rem;
  }

  .step-5 {
    top: 79rem;
    right: 11rem;
  }
  .step-5 img {
    top: -5rem;
    right: -5rem;
  }
  .master-tree-line {
    height: 210vh;
  }
  .master-container {
    min-height: 320vh;
  }
  .character1 img {
    height: 5rem;
    position: absolute;
    top: 12.5rem;
    left: 8rem;
  }
  .character2 img {
    height: 5rem;
    top: 53rem;
    right: 10rem;
  }
  .character3 img {
    height: 5rem;
    top: 53rem;
    left: 5rem;
    z-index: 2;
  }
  .character4 img {
    height: 5rem;
    top: 92rem;
    left: 22rem;
  }
  .dot {
    position: absolute;
    top: -0.625rem;
    left: 50.5%;
    width: 1.5625rem;
    height: 1.5625rem;
    border-radius: 50%;
    background-color: #000;
  }
}
@media screen and (max-width: 480px) {
  .master-title p {
    font-size: 3.75rem;
  }
  
  .master-tree img {
    height: 70%;
  }
  .step-1 {
    top: 6.25rem;
    right: 1rem;
  }
  .step-1 img {
    top: -2rem;
    right: -1rem;
  }

  .step-2 {
    top: 25rem;
    left: 1rem;
  }
  .step-2 img {
    top: -2rem;
    left: -1rem;
  }

  .step-3 {
    top: 43rem;
    right: 1rem;
  }
  .step-3 img {
    top: -2rem;
    right: -1rem;
  }

  .step-4 {
    top: 61rem;
    left: 1rem;
  }
  .step-4 img {
    top: -2rem;
    left: -1rem;
  }

  .step-5 {
    top: 79rem;
    right: 1rem;
  }
  .step-5 img {
    top: -2rem;
    right: -1rem;
  }
  .master-tree-line {
    height: 220vh;
  }
  .master-container {
    min-height: 300vh;
  }
  .character1 img {
    display: none;
  }
  .character2 img {
    display: none;
  }
  .character3 img {
    display: none;
  }
  .character4 img {
    display: none;
  }
}
