.order-history-container {
  width: 100%;
  background-color: #ffd419;
  padding: 20px;
  border-radius: 12px;
}
.order-history-container th,
tr {
  text-align: center;
}
.order-history-row {
  height: 6.25rem;
  cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;
}

.order-history-time {
  width: 12.5rem;
}
.order-history-id {
  width: 25rem;
}
.pending {
  color: red;
  width: 12.5rem;
}
.delivered {
  color: green;
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
  .order-history-display .serial-number {
    display: none;
  }
  .order-history-display .order-history-id {
    display: none;
  }
}
