.banner-container {
  background-image: url(../../../../images/Banner.jpg);
  background-repeat: no-repeat;
  background-size: 90% 100%;
  width: 120%;
  height: 37.5rem;
  position: relative;
}
.banner-shop--content p {
  font-size: 6.875rem;
  font-family: Jacques, sans-serif;
  color: #ffd419;
  margin-left: 10%;
}
.banner-shop--content {
  padding: 5rem 6.25rem;
}

.banner-container--float {
  position: absolute;
  bottom: 0rem;
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
  .banner-shop--content p {
    margin-left: 5%;
  }
}
@media screen and (max-width: 480px) {
  .banner-shop--content p {
    margin-left: -10%;
    margin-top: 5%;
    font-size: 70px;
  }
}
