.comment-container {
  min-height: 100vh;
  height: fit-content;
  background: #000
    url(https://cdn.shopify.com/s/files/1/0422/2441/8983/t/101/assets/texture_6_2880x.png?v=7659131597866323551642685297)
    center / 100% no-repeat;
  position: relative;
}
.comment-left img {
  position: absolute;
  top: 4.375rem;
  left: 3.125rem;
}
.comment-right {
  font-size: 1rem;
  font-family: Babydoll, sans-serif;
}

.comment-1 {
  background-image: url(../../../../images/CommentBox.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 1.875rem 3.75rem;
  height: 12.5rem;
  width: 25rem;
  position: absolute;
  top: 6.25rem;
  right: 21.875rem;
}
.comment-2 {
  background-image: url(../../../../images/CommentBox2.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 1.25rem 1.875rem;

  height: 9.375rem;
  width: 15.625rem;
  position: absolute;
  top: 21.875rem;
  right: 6.25rem;
}
.comment-3 {
  background-image: url(../../../../images/CommentBox.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 1.875rem 3.125rem;
  height: 12.5rem;
  width: 21.875rem;
  position: absolute;
  top: 31.25rem;
  right: 12.5rem;
}
@media screen and (max-width: 1024px) {
  .comment-1 {
    position: absolute;
    top: 6.25rem;
    right: 0rem;
  }
  .comment-2 {
    position: absolute;
    top: 21.875rem;
    right: 6.25rem;
  }
  .comment-3 {
    position: absolute;
    top: 31.25rem;
    right: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .comment-left img {
    width: 50%;
    top: 4.375rem;
    left: 1rem;
  }
  .comment-1 {
    top: 30rem;
    right: 2rem;
  }
  .comment-2 {
    top: 5rem;
    right: 2rem;
  }
  .comment-3 {
    top: 15rem;
    right: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .comment-container {
    min-height: 180vh;
  }
  .comment-left img {
    width: 90%;
    top: 4.375rem;
    left: 1rem;
  }
  .comment-1 {
    top: 30rem;
    right: 2rem;
  }
  .comment-2 {
    top: 43rem;
    right: 2rem;
  }
  .comment-3 {
    top: 51rem;
    left: 2rem;
  }
}
@media screen and (max-width: 376px) {
  .comment-container {
    min-height: 130vh;
  }

  .comment-1 {
    top: 30rem;
    right: 0rem;
    width: 24rem;
  }
  .comment-2 {
    top: 43rem;
    right: 2rem;
  }
  .comment-3 {
    top: 51rem;
    left: 1rem;
  }
}
