.cart-heading-container {
    text-align: center;
    padding: 3.125rem 0;
}
.cart-heading {
    font-size: 5rem;
    font-family: Jacques,sans-serif;
    margin: 1.25rem 0;
}
.cart-subheading {
    font-family: Babydoll,sans-serif;
    font-size: 1.25rem;
    
}
.cart-subheading span {
    margin: 0 0.3125rem;
}@media screen and (max-width: 1024px){
  
}
@media screen and (max-width: 768px){
    
}
@media  screen and (max-width: 480px){
  
}