.FAQcontainer {
  padding: 6.25rem 20%;
}
.FAQcontainer .heading {
  font-size: 5.625rem;
  font-family: Jacques, sans-serif;
}
.FAQcontainer .top {
  margin-bottom: 3.125rem;
}
.FAQcontainer .section .title {
  font-size: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}
.FAQcontainer .section {
  margin-bottom: 1.25rem;
}
.FAQcontainer .section .content {
  padding: 1.25rem;
}
.FAQcontainer .section a {
  text-decoration: underline;
  cursor: pointer;
}

.FAQcontainer .section p,
ul {
  font-family: Babydoll, sans-serif;
  font-size: 1.25rem;
  font-weight: normal;
  padding: 1.25rem 0;
}


.FAQcontainer .section li {
  font-size: 1.25rem;
  font-weight: normal;
  list-style-type: disc;
  list-style-position: inside;
  text-indent: 1.25rem;
}
.FAQcontainer .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
   cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;
}
.FAQcontainer .section button {
  height: 1.875rem;
  width: 1.875rem;
  outline: none;
  border: none;
  cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;
  background-color: transparent;
  transition: 0.3s;
}
.FAQcontainer .section .button1 {
  background: url(https://cdn.shopify.com/s/files/1/0422/2441/8983/files/Accordion-Plus-Sign.svg?v=9933471651934601377)
    center / 100% no-repeat;
  height: 1.875rem;
  width: 1.875rem;
  transition: 0.3s;

  transform: rotate(0deg);
}
.FAQcontainer .section .button2 {
  background: url(https://cdn.shopify.com/s/files/1/0422/2441/8983/files/Accordion-Plus-Sign.svg?v=9933471651934601377)
    center / 100% no-repeat;
  height: 1.875rem;
  width: 1.875rem;
  cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;
  transition: 0.3s;

  transform: rotate(50deg);
}
@media screen and (max-width: 1024px){
  
}
@media screen and (max-width: 768px){
    .FAQcontainer {
  padding: 6.25rem 10%;
}
}
@media  screen and (max-width: 480px){
  
}