.flavor-container {
  margin-top: 6.25rem;
}
.flavor-container--title {
  font-family: Jacques, serif;
  text-align: center;
  font-size: 5.25rem;
  margin-bottom: 1.875rem;
}

.flavor-button {
  background: url(../../../../../images/FlavorButton.svg) center / 100%
    no-repeat;
  width: 15.625rem;
  height: 4.375rem;
  border: none;
  outline: none;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  margin-left: 42%;
  margin-top: 3.688rem;
  cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;
  margin-bottom: 3.688rem;
}
.flavor-button:hover {
  background: url(../../../../../images/FlavorButtonHover.svg) center / 100%
    no-repeat;
  transition: 0.5s;
}
@media screen and (max-width: 1024px) {
  .flavor-button {
    margin-left: 38%;
  }
}
@media screen and (max-width: 768px) {
  .flavor-button {
    margin-left: 35%;
  }
}
@media screen and (max-width: 480px) {
  .flavor-button {
    margin-left: 22%;
  }
  .flavor-container--title {
    font-size: 3.75rem;
    margin-bottom: 1rem;
  }
}
