.admin-home-container .admin-container-right .card {
  padding: 20px;
  box-shadow: 5px 5px 17px 0px rgba(0, 0, 0, 0.75);
  width: 500px;
  height: 150px;
  margin: 30px;
  border-radius: 20px;
}
.admin-home-container .admin-container-right .card:hover {
  border-bottom: 5px solid #ffd419;
}
.admin-home-container .admin-container-right .card h2 {
  text-align: center;
  margin-bottom: 20px;
}
.admin-home-container .admin-container-right .card p {
  font-size: 50px;
  display: flex;
  justify-content: space-between;
}
.fa-dollar-sign {
  color: green;
}
.fa-cart-shopping {
  color: blue;
}
.fa-check {
  color: violet;
}
