.admin-home-container .admin-container-right .card {
  padding: 1.25rem;
  box-shadow: 0.3125rem 0.3125rem 1.0625rem 0rem rgba(0, 0, 0, 0.75);
  width: 18.75rem;
  height: 9.375rem;
  margin: 1.5625rem;
  border-radius: 1.25rem;
  font-family: Helvetica,sans-serif;
}
.admin-home-container .admin-container-right .card:hover {
  border-bottom: 0.3125rem solid #ffd419;
}
.admin-home-container .admin-container-right .card h3{
  text-align: center;
  margin-bottom: 1.25rem;
}
.admin-home-container .admin-container-right .card p {
  font-size: 1.875rem;
  display: flex;
  justify-content: space-between;
}
.fa-dollar-sign {
  color: green;
}
.fa-cart-shopping {
  color: blue;
}
.fa-check {
  color: violet;
}
