.reset-wrapper {
  min-height: 100vh;
  height: fit-content;
  width: 100%;
  margin-top: 6.25rem;
}
.reset-container {
  padding: 0 30%;

  margin-bottom: 6.25rem;
}

.reset-container-bot .title {
  font-size: 5rem;
  font-family: Jacques, sans-serif;
  text-align: center;
  margin-bottom: 3.125rem;
}
.reset-container-bot label {
  font-family: Babydoll, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  display: block;
}
.reset-container-bot input {
  background: url(../../../images/inputBox.svg) center / 100% no-repeat;
  height: 6.25rem;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}
.reset-container-bot input:active {
  background: url(../../../images/inputBox.svg) center / 100% no-repeat;
}
.reset-container-bot button {
  background: url(../../../images/button.svg) center / 100% no-repeat;
  border: none;
  outline: none;
  height: 6.25rem;
  width: 15.625rem;
  margin-left: 8.75rem;
  font-family: Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  transition: 0.3s;
  cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;
}
.reset-container-bot button:hover {
  background: url(../../../images/buttonHover.svg) center / 100% no-repeat;
  color: #ffd419;
}
.error-message {
  color: #c23321;
  font-family: Babydoll, sans-serif;
  font-size: 1.125rem;
  padding: 0rem 1.25rem;
}
.login-text {
  font-size: 1.25rem;
  font-family: Babydoll, sans-serif;
  text-align: center;
  margin: 1.25rem 0;
}
.forgot-password {
  display: inline-block;
  padding: 0.3125rem;
  border-bottom: 0.0625rem solid #000;
  margin-left: 9.375rem;
}
.forgot-password:hover {
  background-color: #000;
  color: #fff;
  cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;
}
.forgotPassword {
  margin-top: 6.25rem;
}
@media screen and (max-width: 1024px) {
   .reset-container button {
    margin-left: 30%;
  }
  .reset-container {
    padding: 0 20%;
  }
}
@media screen and (max-width: 768px) {
  .reset-container {
    padding: 0 10%;
  }
  .reset-container button {
    margin-left: 30%;
  }
}
@media screen and (max-width: 480px) {
 
  .reset-container button {
    margin-left: 15%;
  }
}
