.banner-container2 {
  font-family: Babydoll, sans-serif;
  background-image: url(../../../../images/Banner-2.webp);
  background-size: cover;
  height: 43.75rem;
  background-repeat: no-repeat;
  color: white;
  padding: 5.625rem;
  position: relative;
}

.banner-container--content {
  font-size: 1.625rem;
}
.banner-container--content-button {
  background-image: url(../../../../images/button.svg);
  background-repeat: no-repeat;
  position: relative;
  color: #ffd419;
  height: 3.75rem;
  font-size: 1.25rem;
  margin-top: 1.25rem;
  font-weight: bold;
  width: 18.75rem;
}
.banner-container--content-button:hover {
  background-image: url(../../../../images/buttonHover.svg);
  background-repeat: no-repeat;
  transition: all 0.3s;
  cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;
}

.banner-container--content-button:hover .button-arrow {
  background-image: url(../../../../images/ArrowHover.svg);
  transition: all 0.3s;
}
.banner-container--content-button:hover .button-text {
  color: #ffd419;
}
.button-text {
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  position: absolute;
  top: 0.938rem;
  left: 1.25rem;
  font-family: Helvetica, sans-serif;
}
.button-arrow {
  background-image: url(../../../../images/Arrow-black.svg);
  background-repeat: no-repeat;
  height: 1.875rem;
  width: 4.375rem;
}

.banner-container--content-bottom {
  font-family: Helvetica, sans-serif;
  position: absolute;
  bottom: 4.375rem;
  left: 1.25rem;
}
.banner-container--float {
  position: absolute;
  bottom: 0.625rem;
  left: 0rem;
  height: 0.625rem;
  width: 100%;
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
  .banner-container--content img {
    height: 10rem;
  }
  .banner-container2 {
    height: 30rem;
  }
}
@media screen and (max-width: 450px) {
  .banner-container--content img {
    height: 5rem;
    margin-left: 3rem;
  }
  .banner-container2 {
    height: 30rem;
    background: url(https://cdn.shopify.com/s/files/1/0422/2441/8983/files/Truffle-Potato-Chips-Launch_Web-Banner_Mobile_750x1430px_1_750x.jpg?v=1663064656)
      center / 100% no-repeat;
  }
  .banner-container--content-button {
    margin-left: 2rem;
    margin-top: 0rem;
  }
}
