
.post-container {
  padding: 6.25rem 15.625rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
  background: url(https://cdn.shopify.com/s/files/1/0422/2441/8983/t/101/assets/texture_5_2880x.png?v=22199937448886215501642685296)
    center/ 100% no-repeat;
}
.post-container img {
  height: 17.5rem;
  width: 20rem;
  border-radius: 3.125rem;
}

.post-item { 
  width: 18.75rem;
  text-align: center;
  transform: scale(1);
  transition: 0.3s ease-in-out;
  cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;
}
.post-item:hover {
  transform: scale(1.1);
}
.post-item p {
  font-family: Babydoll, sans-serif;
  font-size: 1.5rem;
  padding: 1.25rem 0;
  height: 6.25rem;
}
.post-item span {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
}@media screen and (max-width: 1024px){
  .post-container {
  padding: 6.25rem 10%;
  display: flex;
  flex-wrap: wrap;
  gap: 3.125rem;
  background: url(https://cdn.shopify.com/s/files/1/0422/2441/8983/t/101/assets/texture_5_2880x.png?v=22199937448886215501642685296)
    center/ 100% no-repeat;
}
}
@media screen and (max-width: 768px){
    
}
@media  screen and (max-width: 480px){
  .post-container {
  padding: 6.25rem 15%;
  display: flex;
  flex-wrap: wrap;
  gap: 3.125rem;
  background: url(https://cdn.shopify.com/s/files/1/0422/2441/8983/t/101/assets/texture_5_2880x.png?v=22199937448886215501642685296)
    center/ 100% no-repeat;
}
}