.summary-container {
  box-shadow: 0.1875rem 0.25rem 1rem 0rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  padding: 1.25rem;
  height: fit-content;
}
.back-to-shopping {
  cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;
  margin-top: 3.125rem;
  width: 31.25rem;
  padding: 1.25rem 3.125rem;
  background-color: #ffd419;
  font-size: 1.5rem;
  font-family: Helvetica, sans-serif;
  border-radius: 3.125rem;
  border: 0.3125rem solid #000;
  font-weight: bold;
  transition: 0.3s all;
}
.back-to-shopping:hover {
  color: #fff;
  background-color: #000;
}
p {
  padding: 0.625rem 0rem;
  font-size: 1.125rem;
}
.subtotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subtotal-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.subtotal-money {
  color: orangered;
  font-size: 2.5rem;
  text-align: right;
  margin-right: 3.125rem;
}
.product-card {
  border: 0.125rem solid skyblue;
  padding: 0.625rem;
  border-radius: 0.75rem;
  box-shadow: 0.1875rem 0.25rem 1rem 0rem rgba(0, 0, 0, 0.2);
  margin-top: 1.25rem;
}
.product-card-infomation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-card-infomation img {
  width: 9.375rem;
  height: 9.375rem;
}
.product-card h4 {
  font-size: 1.5rem;
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
}
