.notFound-title {
  font-family: Jacques, sans-serif;
  font-size: 80px;
  text-align: center;
}
.notFound-title span {
  font-size: 150px;
}
.notFound-container {
  margin: 100px 0;
}
.notFound-container button {
  background: url(../../images/button.svg) center / 100% no-repeat;
  height: 150px;
  width: 300px;
  outline: none;
  border: none;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-left: 600px;
}
.notFound-container button:hover {
  background: url(../../images/buttonHover.svg) center / 100% no-repeat;
  color: #ffd419;
  cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;
}
