.cartItem-wrapper {
  display: grid;
  grid-template-columns: 65% 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 1.25rem;
  margin-bottom: 6.25rem;
}

.cartItem-container {
  width: 100%;
  min-height: 20vh;
  height: fit-content;
}

th {
  font-family: Babydoll, sans-serif;
  font-size: 1.25rem;
  font-weight: normal;
  text-align: left;
  padding: 0.625rem 0.625rem;
}
tr {
  font-family: Babydoll, sans-serif;
  font-size: 1.5rem;
}
.cartItem-container img {
  mask: url(../../../../images/Cart-Item-Mask.svg) center / 100% no-repeat;
  background-color: #fff;
  height: 9.375rem;
}
.item-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  padding: 1.25rem 0 1.25rem 1.25rem;
}
.item-info span {
  display: block;
  margin-top: 1.25rem;
}
.item-info p {
  font-weight: bold;
}
.quantity,
.remove,
.amount {
  width: 9.375rem;
  text-align: center;
}
.remove-btn {
  padding: 0.3125rem 0.9375rem;
  background: #fff;
  border-radius: 3.125rem;
  border: 0.0625rem solid #000;
  cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;
}
.minus-btn,
.plus-btn {
  cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;
  padding: 0 0.9375rem;
  font-size: 2.5rem;
}
.number {
  font-size: 1.875rem;
  font-weight: bold;
}
th {
  border-top: 0.125rem solid black;
  border-bottom: 0.0625rem solid black;
}
td {
  border-top: 0.1875rem solid black;
  border-bottom: 0.1875rem solid black;
}
table {
  border-collapse: collapse;
}
.clear-cart {
  font-family: Babydoll, sans-serif;
  font-size: 1.25rem;
  padding: 3.125rem 0rem;
  text-align: center;
  color: #be1e2d;
}
.clear-cart span {
  cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;
}

.cart-empty p {
  font-family: Jacques, sans-serif;
  font-size: 3.125rem;
  margin-bottom: 1.25rem;
  text-align: center;
  margin-left: 53%;

}
.cart-empty button {
  background: url(../../../../images/buttonHover.svg) center / 100% no-repeat;
  outline: none;
  border: none;
  height: 6.25rem;
  width: 23.125rem;
   margin-left: 59%;
  transition: 0.3s;
  font-size: 1.875rem;
  color: #ffd419;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  cursor: url(https://cdn.shopify.com/s/files/1/0475/8759/0310/files/gloved-hand-32x23.png?v=1636957093),
    pointer;

}
.cart-empty button:hover {
  background: url(../../../../images/button.svg) center / 100% no-repeat;
  color: #000;
}
.serial {
  padding-left: 1.25rem;
}@media screen and (max-width: 1024px){
     .cartItem-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 1.25rem;
  margin-bottom: 6.25rem;
}
.cart-empty p {
  margin-left: 0%;

}
.cart-empty button {
  margin-left: 32%;

}
}
@media screen and (max-width: 768px){
    .cartItem-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 1.25rem;
  margin-bottom: 6.25rem;
}
.cart-empty p {
  margin-left: 0%;

}
.cart-empty button {
  margin-left: 25%;

}
}
@media  screen and (max-width: 480px){
  .serial {
    display: none;
  }
  .cartItem-container img {
    display: none;
}
.amount {
  width: 1rem;
}
.quantity {
  width: 1rem;
}
.remove {
  width: 1rem;
}
.product {
  width: 1.5rem;
}
.cart-empty button {
  margin-left: 5%;
}
}